.input {
  height: 50px;
  width: 80%;
  border-radius: 12px;
  background-color: #18191a;

  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  background: none;
  border: none;
  margin-left: 12px;
  flex: 1;
  outline: none;
  font-size: 18px;
  color: white;
}

button {
  margin: 8px;
  background-color: #4345a4;
  border: none;
  border-radius: 10px;
  height: 30px;
  width: 50px;
  cursor: pointer;
}
